<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whisp</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-zinc-900 text-white min-h-screen flex items-center justify-center">
    <div class="w-full max-w-md bg-zinc-900 p-10 rounded-lg ">

        <h3 class="text-3xl font-semibold mb-8 text-center">Create Account</h3>

        <form action="/register" method="post" class="flex flex-col gap-2">
            <input class="px-3 py-2 outline-none bg-transparent border border-zinc-700 rounded-md" type="text" placeholder="Name" name="name">
            <input class="px-3 py-2 outline-none bg-transparent border border-zinc-700 rounded-md" type="text" placeholder="Username" name="username">
            <input class="px-3 py-2 outline-none bg-transparent border border-zinc-700 rounded-md" type="email" placeholder="Email" name="email">
            <input class="px-3 py-2 outline-none bg-transparent border border-zinc-700 rounded-md" type="password" placeholder="Password" name="password">
            <input class="px-3 py-2 outline-none bg-transparent border border-zinc-700 rounded-md" type="number" placeholder="Age" name="age">
            <input class="px-5 py-2 bg-blue-500 rounded-md cursor-pointer" type="submit" value="Create Account">
        </form>

        <div class="mt-6 flex justify-center">
            <form action="/login">
                <input class="px-5 py-2 bg-red-500 rounded-md cursor-pointer" type="submit" value="Login">
            </form>
        </div>

    </div>
</body>

</html>